{% if post.comments.exists %}
    {% for comment in post.comments.all %}
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <h5><b>{{ comment.author.username }}</b> says:</h5>
                <p>{{ comment.body }}</p>
                <p><small>{{ comment.updated }}</small></p>
                {% if user.is_authenticated and comment.author == request.user %}
                    <a class="card-link" href="{% url 'update-comment' post.pk comment.pk %}">
                        Edit comment
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% else %}
    <p>No comments... :)</p>
{% endif %}